table.spreadsheet {
  width: 100%;
}


table.spreadsheet td {
  white-space: nowrap;
  overflow: hidden;         
  text-overflow: ellipsis;
  max-width: 100px;
}



.top-row {
  background-color: lightgray;
}

.header-column {
 background-color: lightgray; 
}


table.spreadsheet * {
  font-family: arial;
  font-size: 14px;
}

#container-spreadsheet {
  /*padding: 10px;*/
}
