html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.minicell-version {
   vertical-align: middle;
   display: inline-block;
   font-size: 0.7em;
   /*display: block;*/
   float: right;
}
/*
#container-app {
  height: 100%;
}
*/

footer {
  background-color: lightgoldenrodyellow;
  border-top: 5px solid green;

  padding: 3px;

}

footer table {
  width: 100%;
}

footer {
  font-family: monospace;
}

#container-demo-buttons {
  background: #39C75F;
  padding: 10px;
}

#container-minicell-logo img {
  height: 30px;
  padding: 10px;
  vertical-align: middle;
}

#container-minicell-logo {
  background: lightgray;
  font-family: "Lucida Console", Monaco, monospace;
}






#container-examples {
  /*background-color: #C4ACE6;*/
  background-color: grey;
  padding: 10px;
}

body #container-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container-content {
  width: 100%;
  /*flex-grow: 1;*/
  overflow-y: hidden;
  box-sizing: border-box;
  height: 100%;
}

#container-spreadsheet {
  max-height: 100%;
  overflow-y: scroll;
}

#container-panes {
  height: 100%;
  width: 100%;
}
#container-panes > table {
  height: 100%;
  overflow-y: auto;
}

#container-panes #pane-a {
  width: 70%;
  overflow-y: scroll;
  /*height: 100%;*/
}

#container-panes #pane-b {
  width: 30%;
  overflow-y: scroll;
}

#container-panes #pane-b img {
  max-width: 80%;
}

#container-panes #pane-b {
  padding: 10px;
}

#container-panes >  tr > td {
  border: 5px solid green;
  vertical-align: top;
  margin: 0;
  padding: 0;

}

table {
  border-collapse: collapse;
}

#container-spreadsheet td {
  border: 1px solid grey;
}

#tr-sheet-and-visualization td {
  width: 50%;
  vertical-align: top;
}

#paper-svg-container {
  display: none;
}