.elm-selected-cell {
  background-color: purple;
}

.EdgeDemoMode #magic-button-generalize {
  border: 5px solid green;
}

.VertexDemoMode #magic-button-demo-edge {
  border: 5px solid green;
}

svg {
  max-width: 100%;
}
.label_1 {
  background-color: purple;
  border: 1px solid indigo;
}

.label_2 {
  background-color: yellow;
  border: 1px solid indigo;
}

.label_url {
  background-color: cyan;
  border: 1px solid indigo;
}

.label_time {
  background-color: pink;
  border: 1px solid indigo;
}

body * {
  font-family: arial;
  font-size: 14px;
}


table {
  border-collapse: collapse;
}
table td {
  border: 1px solid grey;
}


table.spreadsheet td {
  /*white-space: nowrap;*/
  /*overflow: hidden;         */
  /*text-overflow: ellipsis;*/
  max-width: 250px;
}

.top-row {
  background-color: gray;
}

#tr-sheet-and-visualization td {
  width: 50%;
  vertical-align: top;
}

#paper-svg-container {
  display: none;
}